<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centros de costos</title>
</head>

<body>
    <img src="{{ empresa.logo }}" width="180px" height="82px">
    <table class="encabezado">
        <thead>
            <tr>
                <!-- <th style="width: 20%; border: 1px solid black">
                    <div>
                        LOGO
                        <img src="@/frontend/src/assets/orbis.png" alt="">
                    </div>
                </th> -->
                <th colspan="2" style="width: 80%;">
                    <label>{{empresa.nombre}}</label><br>
                    <label>NIT: {{empresa.nit}}</label><br>
                    <label>CENTROS DE COSTOS 
                        {%if tipo != None %} 
                            {%if tipo == "C"%} 
                            - CONTABILIDAD 
                            {%else%} - NOMINA 
                            {%endif%}
                        {%endif%}
                    </label><br>
                </th>
            </tr>
        </thead>
    </table>
    <div style="margin-top: 15px;">
        <table class="tdata" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>CÓDIGO</th>
                    <th>NOMBRE</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>
                        {{item.codigo}}
                    </td>
                    <td>
                        {{item.nombre}}
                    </td>
                    <td>
                        {{item.estado}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>

<style>
    .titulo {
        text-align: center;
        font-size: 16px;
    }

    table.tdata {
        border: 1px solid lightgray;
    }

    table.tdata tr>th {
        background-color: #e9ecef;
    }

    tr>th {
        padding-top: 5px;
        vertical-align: center;
    }

    tr>td {
        padding-top: 4px;
        padding-left: 3px;
    }

    .encabezado label {
        font-size: 12px;
    }
</style>